.many-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.carousel-wrapper{
    margin: 50px;
}
.carousel-img {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }