.contact-menu{
    color: #ffffff;
    margin-top: 60px;
    font-size: 1.1rem;
    width: 200px;
}

.n-menu-item-content-header{
    display: flex;
    align-items: center;
    
}

.n-menu-item{
    height: 55px;
}